{% extends 'default.html' %}

{% block title %}
 Выход
{% endblock title %}

{% block content %}
<hr>
<ul>
  <div align="left">
    <strong>Меню:</strong>
    <li>
    <a class="nav-link" href="{% url 'comm' %}">Комментарии к моим постам</a>
    </li>
    <li>
    <a class="nav-link" href="/accounts/email/">Изменить E-mail</a>
    </li>
    <li>
    <a class="nav-link" href="/accounts/password/change/">Изменить пароль</a>
    </li>
  </div>
</ul>
<hr>
    <h1>
        Выход
    </h1>
    <p>
        Вы уверены, что хотите выйти из системы?
    </p>
<form method="post" action="/accounts/logout/">
    <input type="hidden" name="csrfmiddlewaretoken" value="c2OyvReLJwC0T9cLGOJTFlQRwtyQQTiuoDk2f0t0kakiZGFPvZ46KUboPHAyrVay">{% csrf_token %}
    <button type="submit"> Выйти</button>
</form>
{% endblock content %}
