{% extends 'default.html' %}

{% block title %}
    Изменение пароля
{% endblock title %}

{% block content %}
<hr>
<ul>
  <div align="left">
    <strong>Меню:</strong>
    <li>
    <a class="nav-link" href="{% url 'comm' %}">Комментарии к моим постам</a>
    </li>
    <li>
    <a class="nav-link" href="/accounts/email/">Изменить E-mail</a>
    </li>
    <li>
    <a class="nav-link" href="/accounts/password/change/">Изменить пароль</a>
    </li>
  </div>
</ul>
<hr>
<h1>
        Изменение пароля
    </h1>

<form method="post" action="/accounts/password/change/">
            <input type="hidden" name="csrfmiddlewaretoken" value="LuMZWdWLMCoaD8NvcBbdmqzgfK7iP6qMnzKoViVlRjD0YXzoWkqkQOJiXAB30AG6">{% csrf_token %}
            <p>
    <label for="id_oldpassword">Старый пароль:</label>
    <input type="password" name="oldpassword" placeholder="Старый пароль:" autocomplete="current-password" required id="id_oldpassword">
  </p>
  <p>
    <label for="id_password1">Новый пароль:</label>
    <input type="password" name="password1" placeholder="Новый пароль:" autocomplete="new-password" required aria-describedby="id_password1_helptext" id="id_password1">
  </p>
  <p>
    <label for="id_password2">Подтвердите новый пароль:</label>
    <input type="password" name="password2" placeholder="Подтвердите новый пароль:" required id="id_password2">
  </p>
<button type="submit"> Изменить пароль </button> <a href="/accounts/password/reset/">Забыли пароль?</a>
</form>
{% endblock content %}
